<app-navbar></app-navbar>
<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- <div class="col-lg-8" *ngFor="let item of user_list; let i = index;">
            <h1 class="mt-4" >{{item.title}}</h1>
            </div> -->
    <!-- Post Content Column -->
    <!-- Sidebar Widgets Column -->
    <div class="col-md-3">

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Web Design</a>
                </li>
                <li>
                  <a href="#">HTML</a>
                </li>
                <li>
                  <a href="#">Freebies</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">JavaScript</a>
                </li>
                <li>
                  <a href="#">CSS</a>
                </li>
                <li>
                  <a href="#">Tutorials</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
      </div>

    </div>

    <div class="col-lg-8">
      <div *ngFor="let item of values; let i = index;">
        <!-- Title -->
        <h1 class="mt-4">{{item.title}}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{item.username}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on January 1, 2018 at 12:00 PM</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

        <hr>

        <!-- Post Content -->

        <p class="mb-0" [innerHtml]='item.loop'> </p>

        <hr>
        <button type="submit" class="btn btn-primary" (click)=" deleteArticle(item.id)">Delete</button>
        <button type="submit" class="btn btn-primary" (click)=" getUserProfile(item.id)">getUserProfile</button>
        
        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">

            <div class="form-group">
              <input type="text" class="form-control" id="name" required [(ngModel)]="comment" name="comment" #name="ngModel">
              <!-- <textarea class="form-control" rows="3" [(ngModel)]="comment"></textarea> -->
            </div>
            <button type="submit" class="btn btn-primary" (click)="addComment(item.id)">Submit</button>
          </div>
        </div>

        <div *ngFor="let items of commentValues">
          <div class="media mb-4" *ngIf="items.ArticleId == item.id">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Commenter Name</h5>
              {{items.comment}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Ierofantis 2018</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->